* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 15px;
    /* height: 100%; */
}

/* Body flex para poder acomodar por columnas, hacer crecer el main y dejar al footer al final del vh */

body {
    background-image: url(../assets/26125.jpg);
    background-size: 30%;
    background-repeat: repeat;
    color: #312E21;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex-grow: 1;
}

/* Clases generales */
.flex-row {
    display: flex;
    flex-flow: row wrap;
}

/* Clases de elementos */
.nav,
.foo {
    background: rgb(184, 175, 165);
    background: linear-gradient(0deg, rgba(184, 175, 165, 1) 0%, rgba(113, 110, 96, 1) 50%, rgba(49, 46, 33, 1) 100%);

    opacity: 0.9;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 0.5rem;
}

.nav {
    margin-bottom: 30px;
}

.nav-ul {
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nav-img {
    flex-basis: 200px;
    flex-grow: 1;
}

.div-nav {
    flex-basis: 300px;
    flex-grow: 99999;
    justify-content: flex-end;

}

.nav-li,
.foo-li {
    display: inline-block;
}

.nav-li {
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}

.logo {
    width: 170px;
}

.nav-a,
.nav-a-active {
    text-decoration: none;
    font-weight: bold;
}

.nav-a {
    color: #FEFDFC;
}

.nav-active {
    color: #312E21;
}

.foo-ul {
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.li-p {
    color: #FEFDFC;
    font-size: 1.1rem;
}

.img-a {
    width: 60px;
    padding: 0em 0.3em;
}